option.default {
	background-color: lightgreen;
	font-weight: bold;
}

div.container {
	margin-left: 2em;
	border: 5px inset gray;
	width: 300px;
	padding: 0.5em 1em;
	border-radius: 0 0 10px 10px;
}

/* Hide options for unchecked boxes. */
input:not(:checked) ~div.container {
	display: none;
}

label + input, label + select {
	display: block;
}